body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0f;
  color: white;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0d0d15;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  padding: 80px;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
}

.hero h1 {
  font-size: 50px;
}

.hero h2 {
  color: #7f5af0;
}

/* Buttons */
.btns button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #7f5af0;
  color: white;
}

.secondary {
  background: transparent;
  border: 1px solid #7f5af0;
  color: white;
}

/* Projects */
.projects {
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
